* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Inter', sans-serif;
}
html, body, #app {
  height: 100%;
}

.container {
  max-width: 991px;
  width: 100%;
  margin: 0 auto;

  padding: 24px 16px;
}

.text {
  font-size: 16px;
  line-height: 24px;
  color: #5C5C5C;
  font-weight: 400;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 361px;
  width: 100%;
  color: #fff;
  padding: 16px 0;
  border: 0;
  outline: none;
  border-radius: 8px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 600;
  text-decoration: none;
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  transition: 0.5s;
}



.button.button__gray {
  background-color: #E7E7E7;
  color: rgba(25, 25, 25, 0.4)
}

.button.button__light-green {
  background-color: #D1DFCC;
  color: #253220;
}

h1 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 24px;
  color: #191919;
}

.form-item__title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #191919;
  margin-bottom: 8px;
}
.input {
  font-family: 'Inter', sans-serif;
  width: 100%;
  border: 1px solid #D6D6D6;
  border-radius: 8px;
  padding: 16px;
  outline: none;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #5C5C5C;
}

.input::placeholder {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #5C5C5C;
}

.error-message {
  color: rgba(242, 50, 24, 1);
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  margin-top: 4px;
  display: flex;
  align-items: center;
}
.error-message svg {
  margin-right: 4px;
}

.button.button__green {
  background-color: #253220;
  position: relative;
  min-height: 56px;

}

.lds-ring {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 8px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


